
html {
  width: auto;
  height: auto;
  background-image: url('http://s3.envato.com/files/243424314/poker-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
header {
  text-align: center;
  font-size: 30px;
}


h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: ghostwhite;
}

.container {
  width:700px;
  height:800px;
  text-align: center;

}

.holdGame {
  display: flex;
}
aside {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  margin:auto;
}
main {
  display: block;
  flex-direction: row;
  justify-content: space-between;
}
.aside {
  display:flex;
  flex-direction: column;
  width:120px;
  justify-content: center;
  border:.5px solid grey;
  text-align: center;
  margin-top: 100px;

}

aside button {
  width:120px;
  height:75px;

  border-radius: 10px;
  margin: 10px 0;

}

.player1Cards {
  background: 1px solid grey;
}

h4 {
  color:black;
  font-size: 18px;
  margin:4px 0;
  text-decoration: underline;
}

#gameBoard {
border: 1px solid grey;
height: 600px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}


#RoundScoreBoard {
  width:120px;
  height: 150px;
  border:.5px solid black;
  background: grey;
  color:black;
}

#GameScoreBoard {
  width:120px;
  height: 150px;
  border:.5px solid black;
  background: grey;
  color:black;
}

.right {
    /* margin-top:  */

}

.rulesDiv {
  text-align: center;
}

.rulesButton {
  height:35px;
  width:100px;
  border-radius: 10px;
}

.player {
  width:400px;
  height:120px;
  border: .5px solid grey;
  justify-content: space-between;
}

.player img {
  margin:15px 10px;
}


.middleCards {
  width:600px;
  height:220px;
  border: .5px solid grey;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#gameBoard img {
    height:100px;
    width:100px;
}

.middleCards img {
  margin:4px 10px;
}
h5 {
  margin-bottom:8px;
  margin-top: 8px;
}

p {
  margin-top: 4px;
  color: white;
}
